<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<div class="tiktok-card">
    <img src="{{ video.url }}" />
    <div class="content">
      <div class="text">{{ video.content }}</div>
    </div>

    <div class="info">
      <div class="like-button">❤️ {{ video.likes }}</div>
      <div class="title">{{ video.title }}</div>
      <div class="username">@{{ video.username }}</div>
    </div>
  </div>
  