.tiktok-card {
  position: relative;
  width: 100%;
  // max-width: 415px; // New viewport units
  // height: 100vh;
  max-width: 100svw; // New viewport units
  height: 100lvh;
  // margin: 2vh auto; // Vertical centering with 5vh space at the top and bottom
  //margin-bottom: 10vh; // Vertical centering with 5vh space at the top and bottom
  overflow: hidden;
  //border-radius: 20px; // Add rounded borders
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); // Add a subtle shadow
  // background-color: black;
  font-family: 'Poppins', sans-serif;
  background-size: cover; // Ensures the image covers the entire card while maintaining its aspect ratio
  background-position: center; // Centers the background image

  .content {
    position: relative;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 17vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: center;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.8); // Semi-transparent black background
    border-radius: 8px; // Optional: rounded corners
    color: #fff; // White text for better visibility
    z-index: 1;
  }

  .text {
    font-size: 16px;
    color: #f0e5e5;
    line-height: 1.5;
    overflow-y: auto;
  }


  .icons {
    position: absolute;
    opacity: 0.9;
    bottom: 15%;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    //transform: translateY(-50%);
    z-index: 1;
  }

  // Add this style if you want some space between the icons
  .icons button + button {
    margin-top: 10px;
  }

  .likes{
    font-size: 18px;
  }

  .content-visibility {
    position: absolute;
    display: flex;
    top: 15px;
    right: 15px;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 100; // Ensures the button is above other elements
  }


  .info {
    position: absolute;
    bottom: 80px;
    left: 15px;
    color: #fff;
    font-family: Arial, sans-serif;
    z-index: 1;
    opacity: 0.95;
    .title,
    .username {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
